script {
    display: none;
}
:root {
    --uk-leader-fill-content: .;
}
:root {
    --uk-breakpoint-s: 640px;
    --uk-breakpoint-m: 960px;
    --uk-breakpoint-l: 1200px;
    --uk-breakpoint-xl: 1600px;
}
html {
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

::selection {
    background: #d15c85;
    color: #fff;
    text-shadow: none;
}