#body
{
  margin : 0px;
  width: 100%;
}
#container
{
  width : 1349px;
  height: 600px;
  margin : 0 auto 0 ;
  background-position: top ;
}
#header
{
  width : 1349px ;
  height : 150px ;
  float : left ;
  border-bottom: 1px solid black;
  background-image: url(../img/pxfuel.com\ \(20\).jpg)	
}
#navigation
{
  width : 1349px ;
	height : 600px ;
  margin-bottom: 0px;
  float: left;	
}	 
#footer
{
  float: left;
  width: 1349px;
  height: 150px;
  background-color: rgb(36, 32, 32);
  border-top: 2px solid rgb(0, 0, 0);
}
.div-1
{
  color:rgb(255, 0, 0) ;
  text-decoration-line: none;
  float: left;
  margin-left: 10px;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
}
ul
{
  list-style-type : none ;
  width: 550px;
  height: 30px;
  padding: 5px ;
  margin: 20px 700px 10px  ;
  position: relative;
  animation-name: example;
  animation-duration: 4s;  
}
@keyframes example 
{
  0% {right:0px; left:70px;}
  100% { left:0px; right:70px;}
}
li
{
  float: left;
  margin : 5px  10px 15px 10px;
  padding-left: 30px;
}

li a
{
  
  color:rgb(255, 0, 0) ;
  text-decoration : none ;
  font-size : large;
  float : left ; 
}
li a:hover
{
  color : rgb(0, 0, 0) ;
  font-size: 20px;
}

.h4
{ 
  margin-left: 480px;
  color: rgb(255, 255, 255);
  word-spacing : 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: initial;
  font-size : 20px; 
  font-weight: 400;
} 
.form
{
  float: left;
  width: 900px;
  height: auto;
  margin-left: 200px;

}
input
{
  height: 40px;
  float: left;
  height: 60px;
  width: 250px;
  margin-top: 5px;
  margin-left: 30px;
  border-radius: 15px;
}
.input3
{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 150px;
  margin-left: 50px;
  height: 60px;
  border-radius: 15px;
}
.div1 , .div2
{
  width: 600px;
  height: 400px;
  background-color: rgb(228, 226, 226);
  float: left;
  margin: 60px 10px 40px 50px;
  border-radius: 20px;
}

p
{
  list-style-type: none;
  text-align: center;
  margin-top: 180px;
  height: auto;
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 40px;
}
.p2
{
  color: rgb(0, 0, 0);
}
span
{
  color: red;
}

	 